# History files
.Rhistory

# Folders
/Data
/Intermediates
/Outputs
/Figures
/SyncroSim & R environments
/Libraries/Inputs/stconnect v1.1.1
/Libraries/*.ssim.input
/Libraries/*.ssim.output
/Libraries/*.ssim.backup
/Libraries/*.ssim.temp
/Libraries/*.ssim.publish

# Files
*.ssim

