# History files
.Rhistory

# Folders
/Data
/Outputs
/Figures
/SyncroSim & R environments
/Libraries/Inputs/stconnect v1.1.1
*.ssim.input
*.ssim.output
*.ssim.backup
*.ssim.temp
*.ssim.publish

# Files
*.ssim

